*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: midnightblue;
}
.pa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:  midnightblue;
    font-size:30px;
    z-index:10;
}
.li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-20px;
    width:40%;
    height: 70vh;
    animation: rote 4s ease-in-out alternate infinite;
    transform-origin: top;
    will-change: transform;
}
@keyframes rote {
    from{
        transform:rotate(-30deg);
    }
    to{
        transform:rotate(30deg);
    }
}
.li .ss{
    position: absolute;
    top: 0;
    width:0.5%;
    height: 20%;
    background: linear-gradient(120deg , rgb(213, 135, 135)20% , rgb(177, 158, 72) 40% , rgb(135, 176, 96) 80% );
}

.con{
    position: relative;
    position: absolute;
    top:20%;
    background-color: rgb(42, 213, 213);
    border: 1px solid #14838f;
    width:14%;
    height: 7%;
    border-top-left-radius: 25px;
    border-top-RIGHT-radius: 25px;
    border-bottom-left-radius: 7px;
    border-bottom-RIGHT-radius: 7px;
}
.con::before{
    content: '';
    position: absolute;
    
    width:100%;
    height: 20%;
    border-radius: 50%;
    bottom:-2px;
    background-color: rgb(53, 253, 253);
    z-index: 1
}
.con span{
    position: absolute;
    left:40%;
    width:20%;
    height:35%;
    border-radius: 50%;
    bottom:-10px;
    background-color:rgb(53, 253, 253);
    box-shadow: 0 0 30px 10px rgb(53, 253, 253);
    z-index: 0;
}
.con::after{
    content: '';
    position: absolute;
    left:-38px;
    width:97%;
    height: 6%;
    border-left: 40px solid transparent;
    border-right:40px solid transparent;
    border-top: 20px solid transparent;
    border-bottom:655px solid  rgba(53, 253, 253, 0.35);
    /* border-top-left-radius: 45%;
    border-top-right-radius: 45%; */
    z-index: -10;
}









@media  (max-width:700px) {
    .li{
        width:70%;
        height: 40vh;
    }
    .con span{
        bottom: -5px;
    }
    .con::after{
        top:-10px;
        left:-40px;
    }
}
